.btn-dashboard {
     background-color: #8a6d3b;
}
.erp-menus {
    background-color: #8a6d3b;
}
.user-name-drop .dropdown-toggle{
	background-color: #8a6d3b;
background: linear-gradient(to right, #896d3b 0%, #9e7224 100%);
}
.account-information .title{
	background-color: #8a6d3b;
background: linear-gradient(to right, #896d3b 0%, #9e7224 100%);
}
.mega-dropdown-menu .dropdown-header{
	background-color: #8a6d3b;
}
.all-company .col-sm-12 ul li{
	 background-color: #8a6d3b;
}

/* NEW STARING  */
.theme-f-clr{
	color:#8a6d3b;
	}
.theme-btn{
     background-color: #8a6d3b;
	 color:#fff;
}
.theme-btn.focus, .theme-btn:focus, .theme-btn:hover{
	color:#fff;	
}
.theme-bg{
 background-color: #8a6d3b;
}
.theme-bg{
	background-color: #8a6d3b;
	color:#fff;
}